.container
{
	height: 100%;
	padding: 60px 15px;
}


.search-box
{
	width: 85%;
	padding: 5px 10px;
	border:2px solid #dddddd;
	border-radius:20px;
}

.chatbox
{	display: inline;
	resize: none;
	margin: 0 auto auto 5%;
	width: 70%;
	height: 55%;
	font-size: 20px;
	line-height: 140%;
	padding: 15px;
	color: black;
	border:2px solid #dddddd;
	border-radius:20px;
	position: absolute;
}

input:focus {
	outline: 0;
	box-shadow: 0 0 10px grey;
}

textarea:focus {
	outline: 0;
	box-shadow: 0 0 10px grey;
}

.friend-list
{
	display: inline;
	float: left;
	text-align: left;
	width: 15%;
	height: 350px;
	font-size: 20px;
	line-height: 140%;
	padding: 15px;
	color: black;
	border:2px solid #dddddd;
	border-radius:20px;
}

.send-message-box
{
	text-align: left;
	margin-top: 35%;
	margin-left: 5%;
	width: 73%;
	height: 25px;
	font-size: 20px;
	line-height: 140%;
	padding-top: 15px;
	padding: 15px;
	border:2px solid #dddddd;
	border-radius:20px;
}