header.createAccount {
	position:relative;
   	transition: .5s ease;
    top: 10%;
    left: 60%;
	size:auto;
	resize:both;
}
div#loginContainer{
	position:relative;	
	top:20%;
	left:20%;
 	width: 320px;
 	height: 260px;
 	margin: 30px 50px;
 	border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
}

div#accountCreation{
	position:absolute;	
	top:15%;
	left:55%;
 	width: 320px;
 	height: 560px;
 	margin: 30px 50px;
 	border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
  
}
#login{
	position: relative;
	left: 30%;
	}
div#centralLogin {
 position:relative;
 padding:30px;
}
html#background{
	background-image:url(../img/blue_03_by_s_kmp-d4cvp27.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
::-webkit-input-placeholder {
    color:#ff8900;
}
:-moz-placeholder {
    color:#ff8900;
}
::-moz-placeholder {
    color:#ff8900;
}
:-ms-input-placeholder{
    color:#ff8900;
}