header.createAccount {
	position:absolute;
   	transition: .5s ease;
    top: 10%;
    left: 80%;
	size:auto;
	resize:both;
}
div#loginContainer{
	position:absolute;	
	top:30%;
}
div#centralLogin {
 position:relative;
 top:20%;
}
html#background{
	background-image:url(../img/BrassEye_by_y2jabba.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
