header.createAccount {
	position:absolute;
   	transition: .5s ease;
    top: 15%;
    left: 80%;
	size:auto;
	resize:both;
}
div#loginContainer{
	position:relative;	
 	width: 320px;
 	height: 280px;
 	margin: 30px 50px;
 	border-radius: 30px;
 	vertical-align: top;
    background: rgba(0, 0, 0, 0.5);
}
div#accountCreation{
	position:relative;
 	width: 320px;
 	height: 600px;
 	margin: 0px 50px;
 	border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
}
div.siders{
	display:inline-block;	
}
div#sidersContainer{
	position:absolute;
	max-width:3200px;
	top:30%;
	white-space: nowrap;
}
div.validationLeft{
position: absolute;
top:80%;	
}
div.validationRight{
position: absolute;
top:80%;
left:80%;
}
#login{
	position: relative;
	left: 35%;
	}
div.pagewrapper{
	width:50%;
}

div#centralLogin {
 position:relative;
 padding:30px;
}
div.mainLogo{
 	font-family:"Decibel";
 	font-size: 60px;
 	color: #ff8900;
 	margin:20px;
}
div.subLogo{
	font-family:"Decibel";
 	font-size: 40px;
 	color: #03bcff;
 	margin:0px;
 	margin-left:20px;
}
div#thanks{
	position:absolute;
	top:80%;
	left:80%;
}
	