.tabs > ul{
	list-style:none;
	margin: 0px 300px;
}

.tabs > ul > li{
	color: black;
	margin:0px 0px 5px 5px;
	padding:7px 10px;
	display:inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius: 20px;
	border-radius: 20px;}

.tabs > ul > li:hover{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

.tabs > ul > li.tabActiveHeader{
	background: #C9C9C9; /* old browsers */
	background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6)); /* webkit */
	cursor:pointer;
	color: #333;
}
